@import 'src/sass/shared.scss';

.button {
  display: inline-block;
  padding: 2rem 4rem;
  color: white;
  background-color: $primary-color;
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.25s linear;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  user-select: none;

  &:active {
    transform: translateY(0.5rem);
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.25);
  }
}
