
$white: #f2f2f2;
$dark: #31363f;

$dark-text: #31363f;
$light-text: #f2f2f2;

$orange: #FF8911;
$purple: #7F27FF;
$light-purple: #9F70FD;
$yellow: #fdbf60;
$light-orange: #FFCF96;
$light-red: #FF8080;
$pink: #FF9BD2;
$dark-pink: #D63484;
$blue: #387ADF;
$light-blue: #50C4ED;
$dark-blue: #40679E;
$green: #4CCD99;

$primary-color: $purple;
$secondary-color: $yellow;