$white: #f2f2f2;
$dark: #31363f;

$dark-text: #31363f;
$light-text: #f2f2f2;

$orange: #ff8911;
$purple: #7f27ff;
$light-purple: #9f70fd;
$yellow: #fdbf60;
$light-orange: #ffcf96;
$light-red: #ff8080;
$pink: #ff9bd2;
$dark-pink: #d63484;
$blue: #387adf;
$light-blue: #50c4ed;
$dark-blue: #40679e;
$green: #4ccd99;

$primary-color: $purple;
$secondary-color: $yellow;
