{
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["components", "./src/components"],
          ["utils", "./src/utils"],
          ["images", "./src/images"],
          ["common-ui", "./src/components/commons/CommonUI.jsx"],
        ],
        "extensions": [".ts", ".js", ".jsx"],
      },
    }
  },
  "globals": {
    "document": true,
    "window": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
  },
  "env": {
      "es6": true
  },
}
