@import "/src/sass/shared.scss";

.root {
  position: relative;
  background-color: $primary-color;
  min-height: 300px;
  margin-bottom: 50px;
}

.container {
  width: $content-width;
  padding: 25px;
  color: white;
  margin: 0 auto;

  @include lt-lg {
    width: 100%;
  }
}

.wave {
  margin-top: -300px;

  @include lt-md {
    margin-top: 0px;
  }
}

.contentBox {
  display: flex;
  justify-content: space-between;

  @include lt-md {
    display: block;
  }
}

.textBox {
  flex: 0 0 450px;
  color: $light-text;

  h2 {
    color: $secondary-color;
  }

  p {
    display: block;
  }

  // @include lt-md {
  //   flex: 1 1 auto;
  // }
}

.textTitle {
  margin-bottom: 20px;
}

.imageBox {
  position: relative;
  flex: 1 1 auto;

  & svg {
    position: absolute;
    top: 0;
  }

  @include lt-md {
    display: none;
  }
}

