@import "/src/sass/shared.scss";

.root {
  position: relative;
  background-color: $primary-color;
  min-height: 80vh;
}

.container {
  @include content-container;
}

.wave {
  margin-top: -400px;
  transform: scaleY(0.7);
  transform-origin: bottom;

  @include lt-lg {
    margin-top: -250px;
  }

  @include lt-md {
    margin-top: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.contentBox {
  display: flex;
  justify-content: space-between;

  @include lt-md {
    display: block;
  }
}

.textBox {
  flex: 0 0 450px;
  color: $light-text;

  h2 {
    color: $secondary-color;
  }

  p {
    display: block;
  }

}

.waveImg {
  width: 100%;
  transform: scale(-1);
  height: 100%;
}

.textTitle {
  margin-bottom: 20px;
}

.imageBox {
  flex: 1 1 auto;

  @include lt-md {
    display: none;
  }
}
