$near-black: #6a6a6a;
$purple-white: #f8f8ff;
$near-white: #fdfdfd;
$gray: #9b9b9b;

$pink: #ec839a;
$deep-pink: #c377a2;
$purple: #956e9e;
$gray-purple: #68648e;

$gray-blue: #445775;
$black-blue: #2f4858;

/* color settings */
$primary-color: $pink;
$primary-text-color: $gray-blue;
$primary-title-color: $black-blue;

$nav-item-color: $black-blue;
$nav-item-placehold-color: rgba($gray-purple, 0.8);

$hero-background-color: linear-gradient(to right top, #e58abe, #caa5ed, #9fc1ff, #78d9ff, #76ecfe, #87f0ea, #a0f1d7, #bbf1c8, #c5e7b9, #cddcad, #d2d1a6, #d5c7a1);
$project-background-color: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

$icon-link-color: $pink;
$icon-link-placeholder-color: $black-blue;

$icon-card-colors: (
  "1": #cc95c0,
  "2": #df9cb2,
  "3": #e8a6a8,
  "4": #70bec4,
  "5": #6c8be2,
  "6": #7aa1d2,
  "7": #ffb122,
  "8": #ffd76c,
);
