$purple-white: #f8f8ff;
$near-white: #fdfdfd;
$gray: #9fadbd;
$deep-gray: #898999;
$pink: #db7ca7;
$deep-pink: #a24873;
$gray-blue: #445775;
$black-blue: #3b4856;

$lite-blue: #40a1e4;

$red:#ff453a;
$yellow: #ffd60a;
$green: #32d74b;

/* color settings */
$primary-color: $lite-blue;
$primary-reverse-color: white;

$primary-text-color: $gray-blue;
$primary-title-color: $black-blue;

$text-shadow: $deep-gray;

$nav-item-color: white;
$nav-item-placehold-color: rgba(white, 0.5);

$navbar-reverse-bg-color: rgba(white, 0.95);
$nav-item-placehold-reverse-color: $gray;

$hero-title-color: rgba(#f2f2f2, 0.9);
$hero-text-color: rgba(white, 0.7);

$project-title-color: rgba(#f2f2f2, 0.9);
$terminal-red-color: $red;
$terminal-yellow-color: $yellow;
$terminal-green-color: $green;
$terminal-text-color: white;

$hero-background-color: linear-gradient(to right top, #40a1e4, #3090e0, #2d7fdb, #386cd2, #4858c7);
$hero-background-alt-color: linear-gradient(to right top, #3671bf, #2579bf, #1680be, #1386bb, #1e8cb8);
$project-background-color: linear-gradient(to right top, #f067a2, #cf70be, #a47acf, #7183d2, #3887c8);
$page-not-found-background-color: linear-gradient(to right top, #2b3469, #4d4589, #7355a8, #9e65c5, #cc73df);

$icon-link-color: white;
$icon-link-placeholder-color: white;

$icon-card-alt-colors: (
  "1": #cc95c0,
  "2": #df9cb2,
  "3": #e8a6a8,
  "4": #70bec4,
  "5": #6c8be2,
  "6": #7aa1d2,
  "7": #ffb122,
  "8": #ffd76c,
);

$icon-card-colors: (
  "1": #40a1e4,
  "2": #00bdeb,
  "3": #00d5d9,
  "4": #ffb122,
  "5": #db7ca7,
  "6": #7aa1d2,
  "7": #61ad63,
  "8": #ffd76c,
);
