@import 'src/sass/shared';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: all 0.3s linear;
  z-index: 1000;

  &__container {
    text-align: right;
    padding: 3rem 1.5rem;
    transition: all 0.2s linear;

    @include respond-below(sm) {
      text-align: center;
    }
  }

  .nav-item {
    position: relative;
    margin: 0 1.8rem;
    font-weight: 500;
    font-size: 1.8rem;
    opacity: 0.75;

    @include respond-below(sm) {
      font-size: 1.4rem;
    }

    &__link,
    &__link:visited {
      color: $nav-item-placehold-color;
    }

    &__link.active {
      color: $nav-item-color;
    }

    &__link::after {
      content: '';
      position: absolute;
      left: 0;
      width: 0%;
      bottom: -0.4rem;
      height: 0.25rem;
      background-color: $nav-item-color;
      transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &__link:hover {
      color: $nav-item-color;

      &::after {
        width: 100%;
      }
    }
  }
}

.navbar--with_bg {
  background-color: rgba(white, 0.95);
  box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.1);

  .navbar__container {
    padding: 1.5rem;
  }

  .nav-item {
    font-weight: 500;
    opacity: 1;

    .nav-item__link,
    .nav-item__link:visited {
      color: #9b9b9b;
    }

    .nav-item__link.active {
      color: $primary-color;
    }

    .nav-item__link::after {
      background-color: $primary-color;
    }

    .nav-item__link:hover {
      color: $primary-color;
    }
  }
}
