@import 'src/sass/shared';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: all 0.3s linear;
  z-index: 1000;

  &__container {
    text-align: right;
    padding: 3rem 1.5rem;
    transition: all 0.2s linear;
  }

  .nav-item {
    margin: 0 3rem;
    font-weight: 500;
  }

  &--with_bg {
    background-color: rgba(white, 0.95);
    box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.1);

    .navbar__container {
      padding: 1.5rem;
    }

    .nav-item {
      &__link,
      &__link:visited {
        color: #9b9b9b;
      }

      &__link.active {
        color: $primary-color;
      }

      &__link::after {
        background-color: $primary-color;
      }

      &__link:hover {
        color: $primary-color;
      }
    }
  }
}
