@import 'src/sass/shared';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  &__container {
    text-align: center;
    padding: 1rem;
  }

  .nav-item {
    margin: 0 3rem;
    font-weight: 500;
  }
}
