@import 'src/sass/shared.scss';

.hero {
  position: relative;
  background-image: $hero-background-color;
  padding-bottom: 10rem;
  min-height: 98.5vh;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 4rem;

  @include respond-below(sm) {
    padding-top: 8rem;
    flex-direction: column-reverse;
    justify-content: center;
    max-width: 41.4rem;
    min-width: 32rem;
  }

  @include respond-below(xxs) {
    padding: 8rem 1rem 4rem 1rem;
  }
}

.title {
  color: $primary-title-color;
}

.subtitle {
  color: $primary-color;
  margin-bottom: 2.4rem;
}

.text {
  color: $primary-text-color;
  font-size: 1.8rem;

  @include respond-below(sm) {
    text-align: center;
    font-size: 1.6rem;
  }
}

.image-wrapper {
  min-width: 60rem;
  margin-left: 10rem;

  @include respond-below(sm) {
    min-width: 100%;
    margin-left: 0;
  }
}

.content-wrapper {
  min-width: 34rem;

  @include respond-below(sm) {
    min-width: 100%;
    text-align: center;
  }
}

.image {
  width: 100%;
}

.links {
  text-align: left;

  @include respond-below(sm) {
    text-align: center;
  }
}

.icon-group {
  display: inline-flex;
  width: 20rem;
  justify-content: space-around;
  margin-top: 5.4rem;

  i {
    font-size: 2.8rem;
    color: $icon-link-placeholder-color;
    transition: all linear 0.25s;
  }

  i:hover {
    color: $icon-link-color;
  }
}

.wave-effect-first {
  position: absolute;
  bottom: -3rem;
  height: 12rem;
  width: 100%;
  background: url('src/images/curve.svg');
  pointer-events: none;
  background-repeat: repeat;
  background-size: 100% 100%;
  background-position-x: 10rem;
}

.wave-effect-second {
  position: absolute;
  bottom: -5rem;
  height: 20rem;
  width: 100%;
  background: url('src/images/curve.svg');
  pointer-events: none;
  background-repeat: repeat;
  background-size: 100% 100%;
  opacity: 0.3;
  background-position-x: 20rem;
}
