@import 'src/sass/shared.scss';

.project-cards {
  display: flex;
  flex-wrap: wrap;
}

.project-cards-col {
  flex: 0 0 33.333332%;
  text-align: center;
}

.card {
  display: inline-block;
  width: 25rem;
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.1);

  @include respond-below(sm) {
    width: 100%;
  }
}

@for $i from 1 to 9 {
  .color-card-#{$i} {
    background-color: map-get($icon-card-colors, #{$i});
  }
}

.card-header {
  position: relative;
  height: 15rem;
}

.card-image {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, 50%);
  height: 12.5rem;
  width: 12.5rem;
  background-size: cover;
  border-radius: 100%;
  border: 0.5rem solid white;
}

.card-desc {
  position: relative;
  padding: 2rem;
}

.card-title {
  font-weight: 500;
  font-size: 2.8rem;
  color: white;
  text-align: center;
  padding-top: 2rem;
}

.card-tags {
  margin-top: 3rem;
  height: 15rem;
  text-align: left;
}

.card-tag {
  font-size: 1.2rem;
  padding: 0 1rem;
  border: 1px solid rgba($gray, 0.8);
  color: rgba($gray, 0.8);
  border-radius: 0.4rem;
  display: inline-block;
  margin: 0.2rem;
}
