@import 'src/sass/shared.scss';

@keyframes fade-in {
  0% {
    opacity: 0.1;
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade-in 0.5s ease-in;
  animation-fill-mode: forwards;
}

.project-cards-wrapper {
  position: relative;
  overflow: hidden;
}

.decorator-img {
  position: absolute;
  bottom: -25rem;
  right: 0;
  width: 100%;
  z-index: -1;

  @include respond-below(md) {
    bottom: -5rem;
  }

  img {
    width: 100%;
  }
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  opacity: 0;

  @include respond-below(sm) {
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 2rem 0;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
  }
}

.project-cards-col {
  flex: 0 0 33.333332%;
  text-align: center;

  @include respond-below(md) {
    flex: 0 0 50%;
  }

  @include respond-below(sm) {
    flex: 0 0 26rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.card {
  position: relative;
  display: inline-block;
  width: 26rem;
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.2s linear;
  margin-bottom: 3.5rem;

  @include respond-below(sm) {
    width: 100%;
    opacity: 0.95;
  }
}

@for $i from 1 to 9 {
  .color-card-#{$i} {
    background-color: map-get($icon-card-colors, #{$i});
  }
}

.card-header {
  position: relative;
  height: 15rem;
}

.card-image {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, 50%);
  height: 12.5rem;
  width: 12.5rem;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  border: 0.5rem solid white;
  z-index: 3;
}

.card-desc {
  position: relative;
  padding: 2rem;
  background: white;
}

.card-title {
  font-weight: 500;
  font-size: 2.8rem;
  color: white;
  text-align: center;
  padding-top: 2rem;
}

.card-tags {
  margin-top: 3rem;
  height: 15rem;
  text-align: left;
}

.card-tag {
  font-size: 1.2rem;
  padding: 0 1rem;
  border: 1px solid rgba($gray, 0.8);
  color: rgba($gray, 0.8);
  border-radius: 0.4rem;
  display: inline-block;
  margin: 0.2rem;
}

.btn-group {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 5rem;
  text-align: right;
  padding: 0 2rem;
}

.icon-btn {
  font-size: 2.8rem;
  margin-left: 2rem;
  opacity: 0.8;
  transition: all 0.25s linear;

  &:hover {
    opacity: 1;
  }
}

.github {
  color: #333;
}

.globe {
  color: #3671bf;
}

.chrome {
  color: #82ce55;
}
