@import 'src/sass/shared.scss';

@keyframes hero-move-right {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hero-move-left {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hero-fade-in {
  0% {
    opacity: 0;
    transform: translateY(0.6rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  position: relative;
  background-image: $hero-background-alt-color;
  padding-bottom: 10rem;
  min-height: 98.5vh;
  overflow: hidden;

  @media (min-height: 108rem) {
    min-height: 108rem;
  }
}

.container {
  display: flex;
  align-items: center;
  height: 100%;

  @include respond-below(sm) {
    padding-top: 8rem;
    flex-direction: column-reverse;
    justify-content: center;
    max-width: 41.4rem;
    min-width: 32rem;
  }

  @include respond-below(xxs) {
    padding: 8rem 1.5rem 4rem 1.5rem;
  }
}

.title {
  color: $hero-title-color;
  animation: hero-move-right 1s ease-out;
}

.subtitle {
  color: $primary-color;
  margin-bottom: 2.4rem;
  animation: hero-move-left 1s ease-out;
}

.text {
  color: $hero-text-color;
  font-size: 1.8rem;
  animation: hero-fade-in 1.5s ease-out;

  @include respond-below(sm) {
    text-align: center;
    font-size: 1.6rem;
  }
}

.image-wrapper {
  min-width: 60rem;
  margin-left: 10rem;

  @include respond-below(sm) {
    min-width: 100%;
    margin-left: 0;
  }
}

.content-wrapper {
  min-width: 34rem;

  @include respond-below(sm) {
    min-width: 100%;
    text-align: center;
  }
}

.image {
  width: 100%;
}

.links {
  text-align: left;

  @include respond-below(sm) {
    text-align: center;
  }
}

.icon-group {
  display: inline-flex;
  width: 20rem;
  justify-content: space-around;
  margin-top: 5.4rem;

  i {
    font-size: 2.8rem;
    color: $icon-link-placeholder-color;
    transition: all linear 0.25s;
    opacity: 0.3;
  }

  i:hover {
    opacity: 1;
  }
}
